{% block content %}

<!-- Категории -->
<section class="categories py-5">
  <div class="container">
    <h2 class="mb-4 text-center text-warning fw-bold">Категории</h2>
    <div class= "row g-4">

      {% for cat in categories %}
          <div class="col-md-4 col-lg-2">
            <div class="category-card" style="background-image: url({{cat.picture.url}});">
            <span>{{ cat.title }}</span>
            </div>
          </div>
      {% endfor %}

    </div>
  </div>
</section>

{% endblock content %}