{% extends "base.html" %}

{% block content %}


<div class="container">
        <h2>Регистрация нового пользователя</h2>
        
        <!-- Отображение сообщений (ошибок или успехов) -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <!-- Форма регистрации -->
        <form method="post" action="">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
            {{ form.username }}
            <br>
            
            <label for="{{ form.password1.id_for_label }}">Пароль:</label>
            {{ form.password1 }}
            <br>
            <label for="{{ form.password2.id_for_label }}">Подтверждение пароля:</label>
            {{ form.password2 }}
            <br>
            <button type="submit">Зарегистрироваться</button>
        </form>
        
        <!-- Ссылка на вход -->
        <div class="login-link">
            <p>Уже есть аккаунт? <a href="{% url 'my_login' %}">Войти</a></p>
        </div>
    </div>


{% endblock content %}